@import "src/assets/styles/customs/variables.scss";
body {
  background-color: $graybd;
}
.home {
  &__header {
    width: 100%;
    height: 100px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;

    &__logo {
      padding: 10px;

      &__logo-img {
        height: 80px;
      }
    }
  }

  &__content {
    padding-top: 70px;
    &__title {
      height: 200px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &__text {
        text-transform: uppercase;
        font-size: 60px;
        color: $blueMPT-D;
        text-align: center;
        letter-spacing: 2px;
      }
    }

    &__links {
      display: flex;
      justify-content: center;
      align-items: center;

      &__btn-links {
        padding: 20px;
        margin: 20px;
        font-size: 20px;
        background-color: $blueMPT-L;
        letter-spacing: 2px;
        cursor: pointer;

        &:hover {
          background-color: $blueMPT-D;
          color: $white;
        }
      }
    }
  }

  &__footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: $white;
    width: 100%;
    bottom: 0px;

    &__text-footer {
      font-size: 13px;
      color: $blueMPT-D;
      letter-spacing: 2px;
      opacity: 0.5;
    }
  }
}
