@import "src/assets/styles/customs/variables.scss";
body {
  background-color: $graybd;
}
.home {
  &__header {
    width: 100%;
    height: 100px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;

    &__logo {
      padding: 10px;

      &__logo-img {
        height: 80px;
      }
    }
  }
}
