$appMaxWidth: 1440px;

$desktopMinWidth: 1024px;
$tabletMinWidth: 768px;
$mobileMinWidth: 320px;

$tabletMaxWidth: 1023px;
$mobileMaxWidth: 767px;

$headerHeight: 70px;

$boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$boxShadowS: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

// Fonts
$Nunito: "Nunito", sans-serif;
$KaushanScript: "Kaushan Script", cursive;

// Colors
$white: #fff;
$whitew: #fffefb;
$black: #000;
$red: #e74c3c;
$blue: #3498db;

$brownc1: #c1a3a3;
$brown69: #694e4e;

$gray7a: #7a7a7a;
$graybd: #bdc3c7;

$blueMPT-D: #0f1d41;
$blueMPT-L: #1f9bde;
